<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><body>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href=~/lib/jquery~/lib/jquery/dist/jquery.js/>

<div class="w3-container">
  <h2>Responsive navbar with responsive dropdown</h2>
  <p>Resize the browser window to see the result:</p>

  <div class="w3-bar w3-black">
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-green">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">Link 2</a>
    <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Dropdown <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button w3-mobile">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile">Link 3</a>
      </div>
    </div>
  </div>
  @RenderBody()
</div>

</body>
</html>
